*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    }
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin: 15px 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    color: white;
    transition: .5s; 
}
nav ul li a:hover{
    color: #cd2526;
    transition: .5s;
}
.dream{
    margin-top: 80px;
    letter-spacing: 1.5px;
    line-height: 70px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.dream h3{
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 200;
}
.button_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
button{
   font-size: 18px;
   padding: 15px 25px;
   color: white;
   background:black;
   border:  solid 2px;
   border-radius: 50px 50px 50px 50px ;
   box-shadow: 1px 3px 6px;
   transition: 0.5s ease-in-out;
}
button:hover{
     transition: 0.5s ease-in-out;
     border: solid 1px brown;
     color: brown;
}
.earth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.earth img {
    max-width: 100%; 
    height: auto; 
}
.mission_text{
    margin-top: 30px;
    letter-spacing: 0px;
    text-align: center;
}
.mission_text h1{
font-weight: 800;
}

.mission_text h4{
    margin-top: 15px;
    color: red;
    font: 4px;
    font-weight: lighter;
}
.mission_text p{
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
.mission_text h2{
    margin-top: 60px;
    margin-left: 380px;
    margin-right: 380px;

}
.offer{
    background-color: #cd2526;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.offer h1{
    text-align: center;
    padding-top: 30px;
    color: white;
}.offer h5{
    text-align: center;
    padding-top: 15px;
     color: white;
     font-size: 19px;

}
.offer p{
    text-align: center;
    padding-top: 40px;
    margin-left: 240px;
    margin-right: 240px;
     color: white;
     line-height: 25px;
     padding: 60px;
     font-size: 19px;

}
.dropdown_company{
    display: none;
}
nav ul li:hover .dropdown_company{
    display: block;
    position: absolute;
    background:white;
    list-style: none;
    padding-top:  10px;
    padding-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 1px;    
}
nav ul li:hover .dropdown_company li{
    display: block;
    margin: 10px;
    background-color: ;
    
}
nav ul li:hover .dropdown_company li a{
    color: black;
    
    
}

